.header-menu,
.nav-menu {
  display: flex;
}

.menu-icons {
  display: none;
}

.header-menu {
  justify-content: space-around;
  padding: 20px 0px 0px 0px;
  align-items: center;
  flex-direction: column;
  margin-bottom: -20px;
}

.logo {
  cursor: default;
  margin-bottom: 20px;
  font-size: 2rem;
}

.logo a {
  color: #333;
  font-weight: 500;
}

.logo.dark .itens-menu {
  color: #fff;
}

.nav-menu {
  gap: 25px;
  flex-wrap: wrap;
  font-size: 18px;
  border-radius: 40px;
  background: #333;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 20px 25px;
  align-items: center;
  z-index: 1;
}

.nav-menu.dark {
  background: #fff;
}

.nav-menu a {
  padding: 8px 45px;
  color: #fff;
  transition: 0.2s;
  position: relative;
  border-radius: 40px;
  position: relative;
  font-weight: 500;
  z-index: 1;
}

.nav-menu.dark .itens-menu {
  color: #333;
  font-weight: 500;
}

.nav-menu.dark .itens-menu:hover {
  background: #d3d3d3;
}

.nav-menu a:hover {
  background: #666;
}

@media (max-width: 600px) {
  .header-menu {
    background-color: #333;
    padding: 0px;
    width: 100%;
    position: relative;
    top: 0;
  }

  .header-menu.dark {
    background-color: #fff;
  }

  .header-menu.dark .logo a {
    color: #333;
  }

  .mobile-menu {
    width: 100%;
    position: relative;
  }

  .logo {
    margin-top: 20px;
    text-align: center;
  }

  .logo a {
    color: #fff;
    font-size: 26px;
  }

  .nav-menu {
    position: absolute;
    border-radius: 0px;
    left: 0;
    top: 85px;
    width: 0;
    height: 100vh;
    /* box-shadow: 0px; */
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding-bottom: 300px;
    transition: 0.3s;
    overflow: hidden;
    visibility: hidden;
  }

  .nav-menu.active {
    visibility: visible;
    width: 40%;
  }

  .nav-menu a {
    padding: 0px 0px;
    gap: 0px;
    font-size: 20px;
  }

  .menu-icons {
    margin-top: 50px;
    display: flex;
    gap: 15px;
  }

  .menu-icons i {
    font-size: 30px;
  }

  .header-menu.dark .menu-icons i {
    color: #333;
  }
}
