@media (max-width: 800px) {
  body {
    max-width: 600px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }

  section {
    padding: 0px;
    margin: 0px;
    z-index: 0;
  }

  #skills {
    display: none;
  }

  #projects {
    display: none;
  }

  #contact {
    display: none;
  }
}
