#projects {
    margin-top: 0px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#projects h2 {
    margin-top: 90px;
}

.wrapperProjects {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 3rem;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.875rem;
    color: #fff;
    border-radius: 20px;
    padding-top: 0.875rem;
    background-color: rgba(3, 3, 3, 0.8);
    backdrop-filter: blur(6px);
    height: max-content;
    width: 650px;
}

.projects-img {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.projects-img > img {
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 20px 20px;
}

.flask {
    width: 70px;
}

.project h3 {
    font-family: 'Poppins', sans-serif;
}

.backgroundImage {
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.2);
    backdrop-filter: blur(10px);
    position: absolute;
    border-radius: 0px 0px 20px 20px;
    cursor: pointer;
    opacity: 1;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

.backgroundImage:hover {
    opacity: 0;
}

.backgroundImage i {
    color: #ffff;
    font-size: 50px;
}

.buttons {
    display: flex;
    position: absolute;
    left: 1rem;
    gap: 0.5rem;
}

.red,
.yellow,
.green {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background: #00ca4e;
}

.titleProject {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.dark .project {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

@media (max-width: 800px) {
    .wrapperProjects {
        grid-template-columns: 1fr;
    }

    .project {
        max-width: 350px;
    }

    .project h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 0.875rem;
    }

    .buttons {
        gap: 5px;
    }

    .red,
    .yellow,
    .green {
        width: 0.8rem;
        height: 0.8rem;
    }

    .backgroundImage i {
        font-size: 35px;
    }

    .backgroundImage img {
        width: 50px;
    }
}
