#skills {
    margin-top: -60px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: 'Clash Display', sans-serif;
}

#skills span {
    font-weight: 500;
}

.arrowSkills {
    transform: translateY(4rem);
}

.skills-info-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 72px;
    gap: 170px;
    height: 50vh;
}

.skills-info .image2 {
    display: none;
}

.skills-info .image3 {
    display: none;
}

.dark .skills-info .image1 {
    display: none;
}

.redux:hover .image1 {
    display: none;
}

.redux:hover .image3 {
    display: block;
    z-index: 99999;
}

.dark .skills-info .image2 {
    display: block;
}

.dark .skills-info:hover .image2 {
    display: none;
}

.skills-box {
    display: grid;
    gap: 75px;
    align-items: center;
    position: relative;
}

.dark .skillsIcon {
    color: #fff;
}

.dark .skills-info span {
    color: #fff;
}

.skills-info {
    display: grid;
    text-align: center;
    gap: 10px;
}

.skills-info img {
    width: 83px;
}

.skills-info i {
    font-size: 80px;
    /* cursor: pointer; */
    color: #333;
    transition: 0.2s;
}

.html,
.css,
.react,
.js,
.python,
.git,
.bootstrap,
.typescript {
    transition: all 0.3s;
}
.html i,
.css i,
.react i,
.js i,
.python i,
.git i,
.bootstrap i,
.typescript i {
    transition: all 0.3s;
}

.html:hover,
.css:hover,
.react:hover,
.js:hover,
.typescript:hover,
.git:hover,
.bootstrap:hover,
.python:hover {
    transform: scale(1.05);
}

.html i:hover {
    color: #f06529;
}
.css i:hover {
    color: #2565ae;
}
.react i:hover {
    color: #61dbfb;
}
.js i:hover {
    color: #f0db4f;
}

.git i:hover {
    color: #f1502f;
}
.python i:hover {
    color: rgb(48, 105, 152);
    background: linear-gradient(
        158deg,
        rgba(48, 105, 152, 1) 52%,
        rgba(255, 212, 59, 1) 52%
    );
    background-clip: text;
    color: transparent;
}
.bootstrap i:hover {
    color: #553c7b;
}

.typeHover,
.typeDark {
    display: none;
}

.typescript:hover .normal {
    display: none;
}

.typescript:hover .typeHover {
    display: block;
}

.dark .normal {
    display: none;
}

.dark .typeDark {
    display: block;
}

.dark .typescript:hover .typeDark {
    display: none;
}

.skills-info span {
    font-size: 16px;
    /* display: none; */
    font-weight: 500;
    color: #333;
}

@media (max-width: 950px) {
    #skills .arrow {
        display: none;
    }

    #skills {
        margin-top: 7rem;
        height: max-content;
    }

    .skills-info-container {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 50px;
        gap: 80px;
        height: max-content;
    }

    .skills-box {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .skills-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills-info img {
        width: 60px;
    }

    .skills-info i {
        font-size: 60px;
        color: #333;
        transition: 0.2s;
    }

    .skills-info span {
        font-size: 15px;
        font-weight: 500;
        color: #333;
    }
}
@media (max-width: 570px) {
    #skills .arrow {
        display: none;
    }

    #skills {
        margin-top: 7rem;
        height: max-content;
    }

    .skills-info-container {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 50px;
        gap: 40px;
        height: max-content;
    }

    .skills-box {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .skills-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills-info img {
        width: 45px;
    }

    .skills-info i {
        font-size: 45px;
        color: #333;
        transition: 0.2s;
    }

    .skills-info span {
        font-size: 13px;
        font-weight: 500;
        color: #333;
    }
}
